toolz==0.12.0
libmambapy==1.5.3
mkl-service==2.4.0
conda-build==3.28.4
hypothesis==6.97.3
conda-content-trust==0.2.0
mpmath==1.3.0
truststore==0.8.0
MarkupSafe==2.1.3
pluggy==1.0.0
boltons==23.0.0
pip==23.3.1
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
distro==1.8.0
torchelastic==0.2.2
rpds-py==0.10.6
wheel==0.41.2
executing==0.8.3
Jinja2==3.1.2
prompt-toolkit==3.0.43
traitlets==5.7.1
more-itertools==10.1.0
conda==23.9.0
attrs==23.1.0
Pygments==2.15.1
wcwidth==0.2.5
Brotli==1.0.9
platformdirs==3.10.0
chardet==4.0.0
jsonpointer==2.1
cffi==1.16.0
jedi==0.18.1
networkx==3.2.1
networkx==3.1
certifi==2023.11.17
fsspec==2023.12.2
pyOpenSSL==23.2.0
mkl-random==1.2.4
asttokens==2.0.5
zstandard==0.19.0
cryptography==41.0.7
ptyprocess==0.7.0
psutil==5.9.0
matplotlib-inline==0.1.6
libarchive-c==2.9
ruamel.yaml.clib==0.2.6
conda_package_streaming==0.9.0
pycparser==2.21
tomli==2.0.1
jsonpatch==1.32
pexpect==4.8.0
parso==0.8.3
pytz==2023.3.post1
six==1.16.0
mkl-fft==1.3.8
stack-data==0.2.0
expecttest==0.2.1
PySocks==1.7.1
optree==0.10.0
click==8.1.7
conda-libmamba-solver==23.7.0
archspec==0.2.1
dnspython==2.5.0
menuinst==2.0.1
PyYAML==6.0.1
pure-eval==0.2.2
decorator==5.1.1
ipython==8.20.0
ruamel.yaml==0.17.21
referencing==0.30.2
conda_index==0.4.0
sortedcontainers==2.4.0
gmpy2==2.1.2
exceptiongroup==1.2.0
astunparse==1.6.3
torchaudio==2.2.0
pkginfo==1.9.6
python-etcd==0.4.5
types-dataclasses==0.6.6
pycosat==0.6.6
conda-package-handling==2.2.0
soupsieve==2.5
numpy==1.26.3
idna==3.4
charset-normalizer==2.0.4
orjson==3.10.18
aliyun-python-sdk-core==2.16.0
pillow==10.4.0
matplotlib==3.10.1
yarl==1.20.0
nvidia-cublas-cu12==12.6.4.1
mmsegmentation==1.2.2
sniffio==1.3.1
openmim==0.3.9
python-dateutil==2.9.0.post0
ninja==1.11.1.4
ftfy==6.3.1
propcache==0.3.1
regex==2024.11.6
tqdm==4.65.2
jaxlib==0.6.0
nvidia-nccl-cu12==2.26.2
requests==2.28.2
opencv-python==4.11.0.86
aiohttp==3.11.18
nvidia-cusolver-cu12==11.7.1.2
fastapi==0.115.12
prettytable==3.16.0
nvidia-cuda-runtime-cu12==12.6.77
jax==0.6.0
importlib_metadata==8.7.0
setuptools==60.2.0
pydantic==2.11.4
einops==0.8.1
tzdata==2025.2
pycryptodome==3.22.0
websockets==11.0.3
llvmlite==0.44.0
opencv-python-headless==4.11.0.86
triton==3.3.0
opendatalab==0.0.10
xxhash==3.5.0
imaginairy-normal-map==0.0.3
zipp==3.21.0
torch==2.7.0+cu126
imageio==2.37.0
ip-adapter==0.1.0
urllib3==1.26.20
nvidia-nvjitlink-cu12==12.6.85
wandb==0.19.10
nvidia-curand-cu12==10.3.7.77
jmespath==0.10.0
humanfriendly==10.0
gradio_imageslider==0.0.20
tomlkit==0.12.0
dill==0.3.8
starlette==0.46.2
pydub==0.25.1
aliyun-python-sdk-kms==2.16.5
contourpy==1.3.2
nvidia-cudnn-cu12==9.5.1.17
typing_extensions==4.13.2
optimum==1.24.0
frozenlist==1.6.0
huggingface-hub==0.31.2
setproctitle==1.3.6
peft==0.15.2
httpx==0.28.1
imutils==0.5.4
protobuf==4.25.7
ffmpy==0.5.0
tokenizers==0.21.1
aiohappyeyeballs==2.6.1
accelerate==1.6.0
Markdown==3.8
gradio==4.29.0
flatbuffers==25.2.10
diffusers==0.33.0
nvidia-nvtx-cu12==12.6.77
pandas==2.2.3
nvidia-cuda-cupti-cu12==12.6.80
opencv-contrib-python==4.11.0.86
controlnet-aux==0.0.9
addict==2.4.0
multiprocess==0.70.16
scipy==1.15.2
typer==0.15.3
importlib_resources==6.5.2
lazy_loader==0.4
multidict==6.4.3
datasets==3.5.1
annotated-types==0.7.0
tifffile==2025.3.30
h11==0.16.0
sounddevice==0.5.1
narwhals==1.37.1
cycler==0.12.1
torchvision==0.22.0+cu126
git-filter-repo==2.47.0
typing-inspection==0.4.0
onnxruntime==1.21.1
qwen-vl-utils==0.0.11
ml_dtypes==0.5.1
altair==5.5.0
kiwisolver==1.4.8
rich==13.4.2
aiofiles==23.2.1
tabulate==0.9.0
gradio_client==0.16.1
async-timeout==5.0.1
uvicorn==0.34.2
packaging==24.2
mediapipe==0.10.21
mmcv==2.1.0
supervision==0.25.1
sympy==1.13.3
nvidia-cusparselt-cu12==0.6.3
crcmod==1.7
GitPython==3.1.44
lightning-utilities==0.14.3
defusedxml==0.7.1
coloredlogs==15.0.1
termcolor==3.1.0
mdurl==0.1.2
markdown-it-py==3.0.0
yapf==0.43.0
docker-pycreds==0.4.0
torchmetrics==1.7.1
gitdb==4.0.12
semantic-version==2.10.0
av==14.3.0
nvidia-cusparse-cu12==12.5.4.2
openxlab==0.1.2
lpips==0.1.4
sentencepiece==0.2.0
httpcore==1.0.9
ordered-set==4.1.0
opt_einsum==3.4.0
sentry-sdk==2.27.0
numba==0.61.2
colorama==0.4.6
nvidia-cufft-cu12==11.3.0.4
scikit-image==0.25.2
python-multipart==0.0.20
xformers==0.0.30
shellingham==1.5.4
smmap==5.0.2
pyarrow==20.0.0
oss2==2.17.0
absl-py==2.2.2
model-index==0.1.11
filelock==3.14.0
nvidia-cufile-cu12==1.11.1.6
timm==0.6.7
nvidia-cuda-nvrtc-cu12==12.6.77
aiosignal==1.3.2
transformers==4.51.3
pydantic_core==2.33.2
anyio==4.9.0
pyparsing==3.2.3
fonttools==4.57.0
optimum-quanto==0.2.7
ruff==0.11.7
mmengine==0.10.7
safetensors==0.5.3
